.contact {
  margin-top: var(--margin);
  margin-bottom: var(--margin-lg);
  background-color: var(--bg-layer);
  color: #2d3748;
  border-radius: 5px;
  box-shadow: var(--chakra-shadows-lg);
  padding: var(--padding);

  .chakra-text {
    margin-bottom: 1rem;
  }

  .chakra-stack {
    margin-top: 2rem;
  }

  .chakra-icon {
    margin-right: 0.5rem;
  }

  .custom-input:focus {
    border-color: var(--primary);
  }

  .custom-checkbox .chakra-checkbox__control[data-checked] {
    background-color: var(--primary) !important;
    box-shadow: 0 0 0 2px var(--primary) !important;
    border-color: var(--primary) !important;
  }

  @media (min-width: 768px) {
    .custom-checkbox:last-child {
      margin-left: var(--margin-lg);
    }
  }
}
