.contact {
  margin-top: var(--margin);
  margin-bottom: var(--margin-lg);
  background-color: var(--bg-layer);
  color: #2d3748;
  border-radius: 5px;
  box-shadow: var(--chakra-shadows-lg);
  padding: var(--padding);

  .chakra-text {
    margin-bottom: 1rem;
  }

  .chakra-stack {
    margin-top: 2rem;
  }

  .chakra-icon {
    margin-right: 0.5rem;
  }

  strong {
    color: #319795;
  }
}
