.about-us {
  color: #2d3748;
  padding: var(--padding);
  margin-bottom: var(--margin-lg);

  .chakra-stack {
    margin-top: 1rem;
  }

  .chakra-icon {
    margin-right: 0.5rem;
  }

  .h-stack {
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0 !important;
    }
  }
}
