.header-container {
  height: 85px;
  padding-top: 1rem;
}

.ekpCorporationsLogo {
  height: 72px;
  margin-bottom: 0.75rem;
}

@media (max-width: 768px) {
  .header-container {
    padding-top: 0;
  }

  .mobile-header {
    height: 85px;
    padding-top: 0;
  }
}
