:root {
  --primary: #283c84;
  --primary-hover: #0d298de3;
  --primary-white: #ffffff;
  --bg-layer: #f7fafc;
  --icon-check: #16c47f;

  --margin: 1rem;
  --margin-lg: 2rem;

  --padding: 1rem;
  --padding-lg: 2rem;
}
