.faq {
  margin-top: var(--margin);
  background-color: var(--bg-layer);
  color: #2d3748;
  border-radius: 5px;
  box-shadow: var(--chakra-shadows-lg);
  padding: var(--padding);
  margin-bottom: var(--margin-lg);

  .chakra-accordion__item {
    border-bottom: 1px solid #0f3f6c;
  }

  .chakra-accordion__button {
    padding: var(--padding);
    font-weight: bold;
    background-color: inherit;
    border-radius: 5px;
  }

  .chakra-accordion__panel {
    padding: var(--padding);
    border-left: 4px solid #0f3f6c;
    background-color: inherit;
    margin: 0.25rem 0 0;

    @media (prefers-color-scheme: dark) {
      border-left-color: #0f3f6c;
    }
  }
}
